.todo__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    &:hover {
        background-color: var(--color-gray-1);

    }
}

.todo__item__delete-button {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: auto;
    color: var(--color-gray-4);
    background-color: transparent;
    border: none;
    padding: 0;

}